.idea
node_modules
jspm_packages
link-checker-results.txt
**/*npm-debug.log.*
*.js
*.js.map
e2e/**/*.js
e2e/**/*.js.map
app/**/*.js
app/**/*.map
aot/*
dist/*
_test-output
_temp

!karma*.js
!protractor*.js
!config/**/*
!aot/index.html
!aot/bs-config.json
